.user-info
    h2 user info:
    ul
        li 
            label ID:
            span #{user.id}
        li 
            label name:
            span #{user.name}
        li
            lable age:
            span #{user.age}
        li
            lable password:
            span #{user.age}
        li
            lable salt:
            span #{user.age}
            
style.
    .user-info ul label {
        margin-right: 8px;
    }